[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
undetected-chromedriver = "*"
flask = "*"
loadenv = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.13"
